body {
    background-color: #073642;
    font-family: 'Ubuntu', sans-serif !important;
}

.bg-dark {
    background-color: #002b36 !important;
}

.text-light {
    color: #93a1a1 !important;
}

h5, .card-title {
    color: #fdf6e3;
}

a.text-reset, a.text-reset:hover {
    font-family: inherit;
    color: #d33682 !important;
}

a, a:hover {
    color: #d33682;
    font-family: 'JetBrains Mono', monospace;
}

b {
    font-weight: 600;
}
